apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-k3s-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: k8s.local  # PRODUCTION
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: django-backend-service
            port:
              number: 8000
      - path: /
        pathType: Prefix
        backend:
          service:
            name: react-frontend-service
            port:
              number: 80
  - host: staging.k8s.local  # STAGING
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: django-backend-service  # Тот же бэкенд
            port:
              number: 8000
      - path: /
        pathType: Prefix
        backend:
          service:
            name: react-frontend-service
            port:
              number: 80

